# Unreal Engine project ignores

# IDE
.vs/
.vscode/

# Engine-generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Ignore crash reports
Saved/Crashes/

# Ignore generated project files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace

# Ignore compiled binaries
*.exe
*.dll
*.lib
*.app
*.ipa
*.dylib
*.so

# Ignore precompiled headers
*.pch
*.gch

# Ignore static libs
*.a
*.la
*.lai

# Ignore object files
*.o
*.obj
*.lo
*.slo

# Ignore engine-generated build metadata
*.target
*.target.cs
*.modules
*.modules.json

# Ignore built map data
*_BuiltData.uasset

# Ignore source art
SourceArt/**/*.png
SourceArt/**/*.tga